.container {
  text-align: center;
  padding: 40px;
}

.title {
  font-size: 2.5rem;
  font-weight: bold;
  color: #4b4bf9;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}

.button {
  background-color: #4b4bf9;
  border: none;
  border-radius: 8px;
  color: white;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

.button:hover {
  background-color: #2f2fd1;
}
